---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import Stack from '../components/stack.astro'

const posts = await getCollection('posts')
posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
---

<Layout>
    <Stack element="ul">
        {
            posts.map((post) => (
                <li>
                    <a href={`/blog/${post.id}`}>{post.data.title}</a>
                </li>
            ))
        }
    </Stack>
</Layout>
